<mat-card class="mat-elevation-z4">
    <mat-card-title>Codenames</mat-card-title>

    <mat-card-subtitle>
        Reglas breves del juego
    </mat-card-subtitle>
    
    <p>
        Los capitanes de los dos equipos conocen los nombres en clave de sus agentes secretos. Y sus compañeros
        de equipo no tienen idea de quiénes se esconden detrás de esos nombres. Los equipos compiten tratando de ser los primeros en establecer contacto con todos sus agentes.
    </p>
    <p>
        En su turno, el capitán da una pista que consiste en una sola palabra que une varias tarjetas en el campo. Los jugadores intentan adivinar las palabras de su equipo, al mismo tiempo que evitan las tarjetas que pertenecen a los oponentes.
    </p>
    <p>
        Y todos quieren evitar encontrarse con el asesino.
    </p>
    
    <mat-card-actions align="end">
        <button mat-button (click)="onBackClick()">
            Atrás
        </button>
    </mat-card-actions>
    
</mat-card>
